<h2>About Me</h2>
<section>
  <p>
    I'm an aspiring software developer who recently graduated from the National
    University of Singapore (NUS) with a Bachelor of Computing in Computer
    Science. I took my first programming course in NUS in 2019 and scored a B-,
    and have never looked back since. <br /><br />
    In my free time, I enjoy working on my own projects, learning new technologies,
    writing blog posts, climbing and hitting the gym.
  </p>
</section>
