<h2>About Me</h2>
<section>
  <p>
    Hey there! I’m Joseph, an aspiring software developer who recently graduated
    from the National University of Singapore (NUS) with a Bachelor of Computing
    in Computer Science!
    <br />
    <br /> As a hobbyist graphic designer turned aspiring software engineer, I value
    creativity and innovation in all my projects. I thrive on having the freedom
    to combine my interests in design and technology to build products that better
    society and aim to embark on all my journeys with an ambitious mindset and a
    can-do attitude. In my free time, I enjoy working on my own projects, learning
    new technologies, writing blog posts, climbing and hitting the gym.
  </p>
</section>
