---
import { getSortedContentFromCollection } from "@/utils/content";
import type { EducationFrontmatter } from "@/types/collections";

const allEducationContent =
  await getSortedContentFromCollection<EducationFrontmatter>(
    "education",
    "Published"
  );
---

<h2>Education</h2>
<section>
  {
    allEducationContent.map((education) => (
      <div>
        <h3>{education.Title}</h3>
        <p>
          <em>{education.Subtitle}</em>
          <span>{education.Date}</span>
        </p>
        <education.Content />
      </div>
    ))
  }
</section>
