<hr />
<footer>
  <p><small>© 2024 Joseph Aedan Marcus. All Rights Reserved.</small></p>
  <p>
    <small
      >This site's design was inspired by <a
        href="https://austinhenley.com/index.html"
        target="_blank">austinhenley.com</a
      > and <a href="http://bettermotherfuckingwebsite.com/" target="_blank"
        >bettermotherfuckingwebsite.com</a
      >. View the source code on <a
        href="https://github.com/Josephaedan/Josephaedan.com"
        target="_blank">GitHub</a
      >.</small
    >
  </p>
</footer>

<style>
  footer {
    * {
      margin: 0px;
    }
  }
</style>
