---
import { getSortedContentFromCollection } from "@/utils/content";
import type {ProjectFrontmatter } from "@/types/collections";
import { getEntries } from "astro:content";

const allProjectsContent =
  await getSortedContentFromCollection<ProjectFrontmatter>(
    "projects",
    "Published"
  ).then((experiences) => {
    return Promise.all(
      experiences.map(async (experience) => {
        const technologies = await getEntries(experience.Technologies);
        return {
          ...experience,
          Technologies: technologies,
        };
      })
    );
  });
---

<h2>Projects</h2>
<section>
  {
    allProjectsContent.map((experience) => (
      <div>
        <a href={experience.URL} target="_blank"><h3>{experience.Title}</h3></a>
        <experience.Content />
        <p id="technologies">
            <strong>
            Tech Stack:&nbsp;
            </strong>
            {experience.Technologies.map((technology) => (
              <a href={technology.data.URL} target="_blank">
                {technology.data.Title.trim()}
              </a>
              <span>&nbsp;</span>
            ))}
        </p>
      </div>
    ))
  }
  </section>

  <style>
    section {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
      gap: 1rem;

      #technologies {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
      }
    }
  </style>