---
import Layout from "../layouts/Layout.astro";
import Footer from "@/components/sections/Footer.astro";
import Header from "@/components/sections/Header.astro";
import NavigationBar from "@/components/sections/Navigation.astro";
import AboutSection from "@/components/sections/About.astro";
import EducationSection from "@/components/sections/Education.astro";
import ExperienceSection from "@/components/sections/Experience.astro";
import AchievementsSection from "@/components/sections/Achievements.astro";
import ProjectsSection from "@/components/sections/Projects.astro";
---

<Layout title="Joseph Aedan Marcus">
  <main>
    <Header />
    <NavigationBar />
    <AboutSection />
    <EducationSection />
    <ExperienceSection />
    <AchievementsSection />
    <ProjectsSection />
    <Footer />
  </main>
</Layout>
