---
import Layout from "../layouts/Layout.astro";
import { getSortedContentFromCollection } from "@/utils/content";
import Header from "@/components/sections/Header.astro";
import NavigationBar from "@/components/sections/Navigation.astro";
import AboutSection from "@/components/sections/About.astro";
import EducationSection from "@/components/sections/Education.astro";
import ExperienceSection from "@/components/sections/Experience.astro";
import type {
  EducationFrontmatter,
  ExperienceFrontmatter,
  TechnologyFrontmatter,
} from "@/types/collections";
import { getCollection } from "astro:content";
import Education from "@/components/sections/Education.astro";

const allTechnologiesContent: TechnologyFrontmatter[] =
  await getCollection("technologies");
---

<Layout title="Joseph Aedan Marcus">
  <main>
    <Header />
    <NavigationBar />
    <AboutSection />
    <EducationSection />
    <ExperienceSection />
  </main>
</Layout>
