---
interface Props {
  title: string;
}

const { title } = Astro.props;
const baseUrl = import.meta.env.SITE;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="theme-color" content="#fff" />
    <meta
      name="description"
      content="I write code and develop projects sometimes"
    />
    <meta name="author" content="Joseph Aedan Marcus" />
    <meta name="keywords" content="Joseph, Aedan, Marcus, Portfolio" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta property="og:title" content="Joseph Aedan Marcus" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content={baseUrl} />
    <!-- <meta property="og:image" content={`${baseUrl}/images/og-image.png`} /> -->
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global>
  :root {
    color-scheme: light dark;
  }
  body {
    margin: 40px auto;
    max-width: 768px;
    line-height: 1.6;
    font-size: 18px;
    padding: 0 20px;
    background-color: light-dark(#ffffff, #333);
    color: light-dark(#333, #ffffff);
  }

  h1,
  h2,
  h3 {
    line-height: 1.2;
  }
  html {
    font-family: "Times New Roman", Times, serif, sans-serif;
  }
  section {
    display: flex;
    flex-direction: column;
    gap: 0px;
    margin: 10px 0px;

    p {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    * {
      margin: 2px 0px;
    }
  }

  ul {
    margin: 0;
  }
</style>
