---
interface Props {
  title: string;
}

const { title } = Astro.props;
const baseUrl = import.meta.env.SITE;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="I write code and develop projects sometimes"
    />
    <meta name="author" content="Joseph Aedan Marcus" />
    <meta name="keywords" content="Joseph, Aedan, Marcus, Portfolio" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta property="og:title" content="Joseph Aedan Marcus" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content={baseUrl} />
    <!-- <meta property="og:image" content={`${baseUrl}/images/og-image.png`} /> -->
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global>
  body {
    margin: 40px auto;
    max-width: 1000px;
    line-height: 1.6;
    font-size: 18px;
    color: #444;
    padding: 0 10px;
  }
  h1,
  h2,
  h3 {
    line-height: 1.2;
  }
  html {
    font-family: "Helvetica Neue", sans-serif;
  }
</style>
